html {
  height: 100%;
}
body#index {
  font-weight: 400;
  position: relative;
  height: 100%;
}
body#index .base {
  z-index: 1;
  position: relative;
  height: 100%;
  /*	width: 1400px;
		height: 1007px;*/
}
body#index .base .loading-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}
body#index .base .loading-wrapper .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  opacity: 0.8;
  z-index: 1032;
  filter: alpha(opacity=100);
}
body#index .base .loading-wrapper .overlay2 {
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
  z-index: 1032;
}
body#index .base .loading-wrapper .loading {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  z-index: 1033;
  background-image: url("../imagens/loading4.gif");
  background-repeat: no-repeat;
}
body#index .base .view {
  height: 100%;
}
